.container {
  max-width: $global-width;
  width: initial !important; // overrides the default width that foundation emails
                             // sets for no good reason
}

.row {
  &.main {
    background: $white;

    .main__header {
      font-size: 18px;
      color: $dark-gray;

      a {
        color: inherit;
      }
    }
  }
}
