<h3>Transportation Information</h3>
<p>We have arranged for a bus to transport participants to and from the venue.</p>
<p>The bus will depart from <strong>Lindner College of Business at 9:30 AM on Saturday</strong> and will do multiple rounds (back and forth) between <strong>9.30AM and 12.30PM</strong>.
<strong>On Sunday, the bus will depart from the 1819 Innovation Hub at 3:00 PM</strong> back to Lindner College of Business and will do multiple rounds (back and forth) until 6:00PM.</p>
<p>Please be at the pickup location at least 15 minutes before the departure time to ensure a prompt departure. The pickup location at Lindner College of Business will be at back entrance, and there will be people from our organizing team to indicate the transportation point for the hackathon bus.</p>
<p>If you miss the bus, or if you prefer to drive to the venue, please note that parking is available on-site at the 1819 Innovation Hub.</p>