<p><strong>Available Hardware</strong><br />
Hardware includes Amazon Echos, Arduinos, Oculus Rifts, DragonBoards, and more as part of the MLH hardware lab! More details will be available at the event. All hardware is available on a first-come-first serve basis.</p>
