<p><strong>Available Software</strong><br />
Software includes $100 in Google Cloud credit, access to the Github Student Developer Pack, and more as part of the MLH software lab! More details will be available at the event. Take a look at the software here: <a href="https://hack.mlh.io/software/" target="_blank">https://hack.mlh.io/software/</a></p>
