<p><strong>Check-in and Where To Go</strong><br />
Please bring a valid school issued ID for check-in. Check-in will be in the Zimmer Hall 5th Floor Lobby. See the map below if you’re unsure how to get to the check-in area. If you arrive after 1:00 PM on Saturday, please go straight to our hacking area in Rhodes Hall 801 instead. If you've confirmed your attendance, please arrive by 1:00 pm. If you don't, please recognize that we may open your spot to someone on the waitlist.</p>