<p><strong>Check-in and Where To Go</strong><br />
Check-in will open at noon on Friday, February 19th. Get acquainted with our channels and take a peek! You can also create your Hopin profile with your email, LinkedIn, and other contact information to prepare for the Sponsor Expo. Our first event will be the Sponsor Expo, at 10:00 AM on Saturday, February 20th on Hopin.</p>
