<p>
  <strong>Check-in and Where To Go</strong><br />
  You can use the #checkin channel on our Discord server to check in. Simply go into the channel and send a message with your email. Revvit, our Discord bot, will search for your registration and grant you access to the rest of the server. If you face any issues, you can talk to us on the #checkin-help channel and we will resolve your issue. Once you are in, get acquainted with our channels!
</p>
<p>
  We highly encourage you to create your Hopin profile with your email, LinkedIn, and other contact information to prepare for the Sponsor Expo, and to make networking with other attendees easier.
</p>
