<h3>Discord</h3>
{# <p>We will be using Discord for all the communication and announcements.
  We will send out the invitation link for our Discord server closer to the event.
</p> #}
<p>We will be using Discord for all the communication and announcements. Join our Discord server at <a target="_blank noopener" href="https://discord.revolutionuc.com">discord.revolutionuc.com</a>
</p>