<p><strong>Hack Submission</strong><br />
All projects must be submitted to devpost to be considered for judging. See all the details on judging and prizing categories <a href="https://revuc-ix.devpost.com/" target="_blank">on our Devpost</a>.</p>
