<p><strong>Hack Submission</strong><br />
All projects must be submitted to devpost to be considered for judging. Hacks must not be reused from other hackathons - only hacks started during RevolutionUC 2021 will be allowed. See all the details on judging and prizing categories <a href="https://revuc-x.devpost.com/" target="_blank">on our Devpost</a>.</p>
