<p><strong>Hack Submission</strong><br />
All projects must be submitted to Devpost to be considered for judging. Hacks must not be reused from other hackathons - only hacks started during RevolutionUC 2023 will be allowed. Stay tuned for more details on prizing categories and judging.</p>
