<h3>In-person at the 1819 innovation hub</h3>
<p>
This year, we will be hosting the entire hackathon in-person at the <a href="https://innovation.uc.edu">1819 Innovation Hub</a>! The 1819 Innovation Hub is located at 2900 Reading Rd, Cincinnati, OH 45206. It is a fantastic facility with many beautiful classrooms and collaborative work spaces. Visit their website at <a href="https://innovation.uc.edu">innovation.uc.edu</a> to learn more about our amazing venue this year!
<p/>
{# <p>
We will be providing shuttle services that run between the University of Cincinnati and the 1819 Innovation Hub at the beginning and end of our hackathon. More details about specific timings will come later.
<p/> #}

