<h3>In-person at the 1819 innovation hub</h3>
<p>
  This year, we will be hosting the entire hackathon in-person at the <a href="https://innovation.uc.edu">1819 Innovation Hub</a>! We want to make sure our participants have the best hacking experience, and the 1819 Innovation Hub (located at 2900 Reading Rd, Cincinnati, OH 45206) is when of the coolest places ever, with spaces like the Makerspace, or the Venture Lab. Visit their website at <a href="https://innovation.uc.edu">innovation.uc.edu</a>. We hope to see you there.
  <br>
</p>
