<h3>Judging Process</h3>
<p>
The judging process this year will include the use of Devpost. Hackers will submit video presentations and will also fill the Devpost fields which will help
answer any general questions judges might have based on the judging criteria below. Judges will be a part of a judging group and can discuss within themselves to select the
top 5 projects.
<br><br>
Judges will need to be in their assigned judging voice channel and have the judging portal open as well. Using the judging portal, you will simply drag and drop your top 5 projects over into
the ranked section of the page. Feel free to take your own notes to keep track! Once you are done, simply check-in in the #judges text channel to make sure your decisions have
been received and you will be free to leave!
<br><br>
If you have any questions, organizers will be present in your assigned voice channels as well as in the #lounge voice channel.
</p>
