<h3>Judging Process</h3>
<p>
The judging process this year will include the use of Devpost. Hackers will submit video presentations and will also fill the Devpost fields which will help
answer any general questions judges might have based on the judging criteria below. Judges will be a part of a judging group and can discuss within themselves to select the
top 5 projects.
<br><br>
For in-person juding, judges will need to have the judging portal open. Using the judging portal, you will simply drag and drop your top 5 projects over into
the ranked section of the page. Feel free to take your own notes to keep track!
<br><br>
If you have any questions, our organizers will be present close by to assist.
</p>
