<h3>Lattice</h3>
<p>
  Lattice is our hacker matching app that you can use to find other RevolutionUC participants to team up with! It has an intuitive Tinder-like interface. Find hackers, take a glance at their profile, and simply swipe left or right. If you both swipe right on each other, you both get a notification with the match, alongwith each others' discord username so that you can start collaborating! <br />
  Click here to create your account on Lattice. This link is unique to you, do not share it with anyone.
</p>
<p>
  <center>
    <button class="large secondary expanded" href="https://lattice.revolutionuc.com/auth/register/{{ registrantId | safe }}" target="_blank">Register</button>
  </center>
</p>
<p>
  NOTE: Lattice is not a very mature app yet, so you might run into some minor issues. Please reach out to us at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> if you notice any issues with the application. We would love to hear your feedback on Lattice.
</p>