<h3>Lattice</h3>
<p>
  Lattice is our hacker matching app that you can use to find other RevolutionUC participants to team up with! Find hackers, take a glance at their profile, and simply swipe left or right. If you both swipe right on each other, you'll both get a notification with the match, along with each others' Discord username so that you can start collaborating! <br />
  Click here to create your account on Lattice. This link is unique to you, do not share it with anyone. <br />
  Please make sure you have verified your email with us. If your email is not verified, you will not be able to register on Lattice. Check your email inbox or send us an email at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> if you do not see your confirmation email.
</p>
<p>
  <center>
    <button class="large secondary expanded" href="https://lattice.revolutionuc.com/auth/register/{{ registrantId | safe }}" target="_blank">Register</button>
  </center>
</p>