<h3>Lattice</h3>
<p>
  Lattice is our hacker matching app that you can use to find other RevolutionUC participants to team up with! It has a very intuitive Tinder-like functionlity. Find hackers, take a glance at their project idea, skill set, and their own requirements, and simply swipe left or right. If you both swipe right on each other, you both get a notification with the match, alongwith each others' discord handle to start collaborating! <br />
  Click here to create your account on Lattice.
</p>
<p>
  <center>
    <button class="large secondary expanded" href="https://lattice.revolutionuc.com/auth/register/{{ registrantId | safe }}" target="_blank">Register</button>
  </center>
</p>
<p>
  NOTE: This link is unique to you, do not share it with anyone.
</p>