<p><strong>Mini-Events</strong><br />
Our mini-events include Capture the Flag, a 24-hour Minecraft server and buildathon challenge, Skribbl.io, Among Us, Bob Ross MS Paint, and more! You'll also get the chance to connect with other hackers!</p>
