<p><strong>Mini-Events</strong><br />
Our mini-events include Capture the Flag, Paper Airplane Competition, Wikipedia Race, Bob Ross MS Paint, and more! You'll also get the chance to connect with other hackers!</p>
