<p><strong>Mini-Events</strong><br />
Our mini-events include capture the flag, slideshow karaoke, a paper airplane contest and lightning talks! Have a cool topic you want to do a short talk on? More information on how to give a lightning talk will be available at the event!</p>
