<h3>Parking</h3>
<!-- <p>UC has plenty of parking garages! For a full list, check out the university’s <a href="https://www.uc.edu/parking/visitors-maps.html" target="_blank">Maps and Visitor Information page</a>. The hackathon occurs on West Campus, so we would recommend parking at <a href="https://www.uc.edu/parking/visitors-maps.html#wa" target="_blank">Woodside Garage</a> or <a href="https://www.uc.edu/parking/visitors-maps.html#cg" target="_blank">Campus Green Garage</a>.</p> -->
<p>The 1819 Innovation Hub has a parking lot with plentiful spaces, and it is completely free on the weekends. And parking on the street is also free.</p>
