<h3>Schedule</h3>
<p>Check-in will open at 11:00 AM on February 20th and the opening ceremony is set to begin at 12:00 PM. The closing ceremony will start at 3:30 PM on February 21st. See <a href="https://revolutionuc.com/schedule/" target="_blank">revolutionuc.com/schedule</a> for full and up to date schedule details.</p>