<h3>Schedule</h3>
{# <p>Our schedule is as follows:</p> #}
<p>Check-in will open at 10:00 AM and the opening ceremony is set to begin at 11:00 AM on March 1st. 
  Join us at the Sponsor Expo 10:00AM onwards and connect with Fifth Third, MedPace, ICR, AWS, and many others for opportunites to get an internship or a co-op!
  Our workshop sessions will begin at 2:00 PM March 1st, bringing you awesome speakers from our sponsors.
   Hacking will end at 12:00 PM on March 2nd to begin judging, and the final closing ceremony will start at 4:00 PM March 2nd.
    See
  <a href="https://revolutionuc.com/schedule/" target="_blank">revolutionuc.com/schedule</a>
  for full and up-to-date schedule details.
</p>
