<h3>Schedule</h3>
<p>Our schedule is still tentative and could change in the future, but here is some information for now:</p>
<p>Check-in will open at 10:30 AM and the opening ceremony is set to begin at 11:30 AM on February 25th. Our workshop sessions will begin at 1:45 PM February 25th, bringing you awesome speakers from our sponsors. Hacking will end at 12:30 PM on February 26th to begin judging, and the final closing ceremony will start at 2:30 PM February 26th. See
  <a href="https://revolutionuc.com/schedule/" target="_blank">revolutionuc.com/schedule</a>
  for full and up to date schedule details.
</p>
