<p><strong>Slack</strong><br />
We have a Slack setup for the event! Join it at <a href="http://slack.revolutionuc.com/" target="_blank">slack.revolutionuc.com</a>. You can use Slack to find team members, brainstorm ideas, ask questions, talk to mentors, and get updates during the hackathon.</p>
