<h3>Socials</h3>
<p><a href="https://twitter.com/revolution_uc" target="_blank">Follow RevolutionUC</a> on Twitter and <a href="https://fb.me/e/4jTfimHXa" target="_blank">share the event</a> on Facebook! Don't forget to <a href="https://www.instagram.com/revolution.uc/" target="_blank">like our posts</a> on Instagram!</p>
