<h3>Socials</h3>
<p>Follow RevolutionUC on <a href="https://twitter.com/revolution_uc" target="_blank">Twitter</a>  and follow revolution.uc on <a href="https://www.tiktok.com/@revolution.uc" target="_blank">TikTok</a>! Don't forget to like our posts on <a href="https://www.instagram.com/revolution.uc/" target="_blank">Instagram</a>!</p>
