<h3>Socials</h3>
<p>Want to win a $20 UberEats gift card? Repost <a href="https://www.instagram.com/p/CLPjFIzBvci/" target="_blank">this post</a> on your story with #RevUCGiveaway and tag <a href="https://www.instagram.com/revolution.uc/" target="_blank">@revolution.uc</a>! Or share our <a href="https://www.instagram.com/revolution.uc/" target="_blank">tweet</a> and tag us! Don't forget to include the hashtag #RevUCGiveaway to be entered in the raffle! Giveaway ends at 12:30pm on Saturday! 
<br><br><a href="https://twitter.com/revolution_uc" target="_blank">Follow RevolutionUC</a> on Twitter and <a href="https://fb.me/e/4jTfimHXa" target="_blank">share the event</a> on Facebook! Don't forget to <a href="https://www.instagram.com/revolution.uc/" target="_blank">like our posts</a> on Instagram!</p>