<h3>Sponsors</h3>
<p>We’ve got some great sponsors this year including Digital Futures Relay, Fifth Third Bank, Northrop Grumman, TCS, Medpace, and more! See <a href="https://revolutionuc.com/sponsors/" target="_blank">revolutionuc.com/sponsors</a> for the full list of sponsors and partners!</p>
