<h3>Sponsors</h3>
<p>We've got some great sponsors this year including Fifth Third, Medpace, ICR, AWS and more! See
  <a href="https://revolutionuc.com/sponsors/" target="_blank">revolutionuc.com/sponsors</a>
  for the full list of sponsors and partners!
</p>
