<p><strong>Teams</strong><br />
The maximum team size is four. Don’t have a team? No worries! Feel free to ask in #general for teams or ideas before the event. We’ll also have a team building session after the opening ceremony.</p>
