<h3>Travel Reimbursements</h3>
<!-- <p>We offer carpool reimbursement on a case by case basis - receipts must be provided to receive travel reimbursement. We don’t offer reimbursement for flights. As a standard rule, we’ll reimburse 15 cents per mile between UC and your school, up to $60 for a car with more than one participant, or $40 if traveling alone. If we have more reimbursement requests than anticipated, we’ll drop the per mile rate fairly to accommodate all reimbursement applicants. You’ll be able to apply for travel reimbursement following the event. If you’d like more information please do not hesitate to email us at <a mailto="info@revolutionuc.com">info@revolutionuc.com</a>.</p> -->
<p>Unfortunately, we are unable to offer travel reimbursement at this time</p>
