<h3>Virtual</h3>
<p>
  This year, we are hosting the entire hackathon virtually! We want to make sure our participants stay safe. The good news is anyone anywhere can participate since you don’t need to travel to the University of Cincinnati! <br>
  We will be using Discord to host the event and for all the communication and announcements.
</p>
<center>
  <button class="large secondary expanded" href="{{discordLink}}" target="_blank">
    Join Discord Server
  </button>
</center>
