<h3>Virtual</h3>
<p>
  This year, we are hosting the entire hackathon virtually! We want to make sure our participants stay safe, as well as abide by state mandates on large events. The good news is anyone anywhere can participate since you don’t need to travel to the University of Cincinnati! <br>
  We will be using Hopin to host the event, and Discord for all the communication and announcements.
</p>
<center>
  <button class="large secondary expanded" href="{{ discordLink }}" target="_blank">
    Join Discord Sever
  </button>
</center>
<center>
  <button class="large secondary expanded" href="{{ hopinLink }}" target="_blank">
    Join Hopin Event
  </button>
</center>
