<h3>Virtual</h3>
<p>
  This year, we will be hosting the entire hackathon virtually! We want to make sure our participants stay safe, as well as abide by state mandates on large events. The good news is anyone anywhere can participate since you don’t need to travel to the University of Cincinnati! <br>
  We will be using Discord for all the communication and announcements. We will send out the invitation link for our Discord server closer to the event.
</p>
