<h3><strong>Waiver</strong></h3><br />
<p>If you're over 18, you can you can review the event waiver you agreed to <a href="http://revolutionuc.com/waiver" target="_blank">here</a>. If you're under 18, you should have received an email with additional instructions. If you haven’t, please reach out to <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> immediately!</p>
