<h3>What to bring</h3>
<p>Charge your laptop, and bring your student ID (or other form of idenfication) for checking in and a positive attitude! If you have any hardware, feel free to use them as part of your hack.</p>
