<p><strong>What To Bring</strong><br />
Please bring a valid school ID for check-in, your laptop, phone, or anything else you want to hack on, any chargers for your device(s), and a positive attitude! We also recommend bringing basic toiletries (toothbrush, deodorant, etc), a pillow/blanket (if you choose to nap). Please note that Ethernet access will be limited, <em>so plan to use a Wi-Fi connection</em>.</p>
