{% extends dirname + '/master.njk' %}

{#
  Additional arguments for this template:
    - firstName (the user's first name)
    - yesConfirmationUrl (a url)
    - noConfirmationURL (a url)
    - offWaitlist (boolean - whether to notify the user that they have been moved off the waitlist)
#}

{% block main %}

<h1>Hi, {{ firstName if firstName else '{{first_name}}' }}!</h1>

{% if offWaitlist %}
    {# the hacker has been taken off the waitlist and onto the normal list, so make a note to the hacker #}
    <p><strong>You have been moved off the waitlist for RevolutionUC!</strong> We need you to confirm your attendance for the event (March 1st and 2nd).</p>
{% else %}
    <p>We need you to confirm your attendance for RevolutionUC (March 1st and 2nd) at the 1819 Innovation Hub (2900 Reading Rd, Cincinnati, OH 45206).</p>
{% endif %}
<!-- 
<p>A <strong>Yes</strong> means that you will be participating in the hackathon. <em>Please only select yes if you are attending the event</em>. If you select yes and do not attend, not only will you deny another hacker an opportunity to participate, but it may have implications on your acceptance to future RevolutionUCs. A <strong>No</strong> means you will not be attending the event. If you have teammates who have not received the option to confirm their attendance, please first choose <strong>Yes</strong> below, then email <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> with their names and the emails they signed up with.</p>
 -->
<p>
  <center>
    <button class="large secondary expanded" href="{{ yesConfirmationUrl if yesConfirmationUrl else 'https://example.com/' | safe }}" target="_blank">Yes - I’m attending RevolutionUC</button>
  </center>
</p>

<p>
  <center>
    <button class="large success expanded" href="{{ noConfirmationUrl if noConfirmationUrl else 'https://example.com/' | safe }}" target="_blank">No - I’m not attending RevolutionUC</button>
  </center>
</p>

<p>If you select <strong>Yes</strong>, you will receive a welcome email with information for the day of the event.</p>

<!-- <p>Note: if you do not confirm your attendance then your spot will automatically be given to a hacker on the waitlist.</p> -->

<p><strong>Is there a confirmation deadline?</strong><br />
Yes. The confirmation deadline is Feb 23rd, 11:59 PM.</p>

<p><strong>What if I confirm my attendance now and later can&apos;t attend?</strong><br />
Please send us an email at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> to release your spot.</p>
<!-- Please send us an email at info@revolutionuc.com ASAP to release your spot. If you confirm your attendance and don’t show you may be restricted from attending a future RevolutionUC.</p> -->

<p><strong>What if I later find out I can attend?</strong><br />
<!-- Please email us when you find out you can attend at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> and we will update your registration. -->
Please email us as soon as you find out you can attend at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a>. We&apos;ll do our best to find space for you, but please understand that we may have to place you on a waitlist.
</p>

<p><strong>What if I show up to the event without confirming my attendance?</strong><br />
<!-- Since this is a virtual event, you will be able to participate in the event. We just might not be able to give you swag. -->
We will place you on a waitlist. Once the opening ceremony is over, we will verify our capacity and move people from the waitlist in order of who arrived first. If we reach our capacity and you're still on the waitlist, you can still participate, just note that we won't be able to provide you with meals or swag.
</p>

<p><strong>I accidentally selected No!</strong><br />
Please email us at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> and we’ll update your registration.</p>
<!-- Please email us immediately at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> and we’ll update your registration..</p> -->

<p>If you're over 18, you can review the event waiver you agreed to <a href="http://revolutionuc.com/waiver" target="_blank">here</a>.</p>
{% endblock %}
