{% extends dirname + '/master.njk' %}

{#
  Additional arguments for this template:
    - firstName (the user's first name)
    - yesConfirmationUrl (a url)
    - noConfirmationURL (a url)
    - offWaitlist (boolean - whether to notify the user that they have been moved off the waitlist)
#}

{% block main %}

<h1>Hi, {{ firstName if firstName else '{{first_name}}' }}!</h1>

{% if offWaitlist %}
    {# the hacker has been taken off the waitlist and onto the normal list, so make a note to the hacker #}
    <p><strong>You have been moved off the waitlist for RevolutionUC!</strong> We need you to confirm your attendance for the event (February 22nd and 23rd).</p>
{% else %}
    <p>We need you to confirm your attendance for RevolutionUC (February 22nd and 23rd).</p>
{% endif %}

<p>A <strong>Yes</strong> means that you will be attending the hackathon. <em>Please only select yes if you are attending the event</em>. If you select yes and do not attend, not only will you deny another hacker an opportunity to participate, but it may have implications on your acceptance to future RevolutionUCs. A <strong>No</strong> means you will not be attending the event. If you have teammates who have not received the option to confirm their attendance, please first choose <strong>Yes</strong> below, then email <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> with their names and the emails they signed up with.</p>

<p>
  <center>
    <button class="large secondary expanded" href="{{ yesConfirmationUrl if yesConfirmationUrl else 'https://example.com/' | safe }}" target="_blank">Yes - I’m attending RevolutionUC</button>
  </center>
</p>

<p>
  <center>
    <button class="large success expanded" href="{{ noConfirmationUrl if noConfirmationUrl else 'https://example.com/' | safe }}" target="_blank">No - I’m not attending RevolutionUC</button>
  </center>
</p>

<p>If you select <strong>Yes</strong>, you will receive a welcome email with info for the day of the event.</p>

<p>Note: if you do not confirm your attendance then your spot will automatically be given to a hacker on the waitlist.</p>

<p><strong>What if I confirm my attendance now and later can’t attend?</strong><br />
Please send us an email at info@revolutionuc.com ASAP to release your spot. If you confirm your attendance and don’t show you may be restricted from attending a future RevolutionUC.</p>

<p><strong>What if I later find out I can attend?</strong><br />
Please email us as soon as you find out you can attend at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a>. We’ll do our best to find space for you, but please understand that we may have to place you on a waitlist.
</p>

<p><strong>What if I show up to the event without confirming my attendance?</strong><br />
We will place you on a waitlist. Once the opening ceremony is over, we will verify our capacity and move people from the waitlist in order of who arrived first. If we reach our capacity and you're still on the waitlist, you can still participate, just note that we won't be able to provide you with meals or swag.
</p>

<p><strong>I accidentally selected No!</strong><br />
Please email us immediately at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> and we’ll update your registration..</p>

<p>If you're over 18, you can review the event waiver you agreed to <a href="http://revolutionuc.com/waiver" target="_blank">here</a>.</p>
{% endblock %}
