{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the user's first name)
#}

{% block main %}
<h2>Hi, {{ firstName if firstName else '{{first_name}}' }}!</h2>

<p>Thanks for confirming your attendance for RevolutionUC! Here’s what you need to know.</p>

{% include dirname + '/partials/CheckIn-Inperson.njk' %}

<p><strong>What to Bring</strong><br />
Please bring a valid school ID for check-in, your laptop, phone, or anything else you want to hack on, any chargers for your device(s), and a positive attitude! Please bring your own water bottles as well! We also recommend bringing basic toiletries (toothbrush, deodorant, etc), a pillow/blanket (if you choose to nap). Please note that Ethernet access will be limited, <em>so plan to use a Wi-Fi connection.</em></p>

<p><strong>Teams and Hacking</strong><br />
The maximum team size is four. Don’t have a team? No worries! We’ll have a team building session after the opening ceremony. Note: you can bring an idea to the hackathon, but all hacking on your project must be done at the hackathon.</p>

{% include dirname + '/partials/Schedule.njk' %}

{% include dirname + '/partials/Parking.njk' %}

{% include dirname + '/partials/Food.njk' %}

{% include dirname + '/partials/TravelReimbursement.njk' %}

{% include dirname + '/partials/Discord.njk' %}

{% include dirname + '/partials/Socials.njk' %}

<p><strong>What if I can no longer go to RevolutionUC?</strong><br />
Please send us an email at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> ASAP so we can give your spot to a hacker on the waitlist.</p>

<p><strong>We can’t wait to see you there!</strong><br />
Get excited!</p>

<p>If you're over 18, you can review the event waiver you agreed to <a href="http://revolutionuc.com/waiver">here</a>.</p>
{% endblock %}
