{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the user's first name)
    - qrImageSrc (direct link to a QR code image)
#}

{% block main %}
<h2>Hi, {{ firstName if firstName else '{{first_name}}' }}!</h2>

<p>Thanks for confirming your attendance for RevolutionUC! Here’s what you need to know.</p>

<p><strong>What to Bring</strong><br />
Please bring a valid school ID for check-in, your laptop, phone, or anything else you want to hack on, any chargers for your device(s), and a positive attitude! We also recommend bringing basic toiletries (toothbrush, deodorant, etc), a pillow/blanket (if you choose to nap). Please note that Ethernet access will be limited, <em>so plan to use a Wi-Fi connection.</em></p>

<p><strong>Teams and Hacking</strong><br />
The maximum team size is four. Don’t have a team? No worries! We’ll have a team building session after the opening ceremony. Note: you can bring an idea to the hackathon, but all hacking on your project must be done at the hackathon.</p>

<p><strong>Schedule</strong><br />
Check-in will open at 11:00 AM on February 22nd and the opening ceremony is set to begin at 12:00 PM. The closing ceremony will start at around 3:15 PM on February 23rd. See <a href="http://revolutionuc.com/schedule" target="_blank">revolutionuc.com/schedule</a> for full and up to date schedule details.</p>

<p><strong>Checking In</strong><br />
Check-in will be in Zimmer Hall. See <a href="https://www.uc.edu/content/dam/common/docs/maps/campus_map_west.pdf" target="_blank">this campus map</a> if you’re unsure where to go. If you arrive after 1:00 PM on Saturday, please go straight to our hacking area in Rhodes 801 instead.</p>
<!--
<p>The QR code below can be presented during check-in to expediate the process.</p>
<center><img src="{{ qrImageSrc }}" alt="A QR code used for check-in for RevolutionUC"></center>
-->
<p><strong>Parking</strong><br />
UC has plenty of parking garages! For a full list, check out the university’s <a href="https://www.uc.edu/parking/visitors-maps.html" target="_blank">Maps and Visitor Info page</a>. The hackathon occurs on West Campus, so we would recommend parking at <a href="https://www.uc.edu/parking/visitors-maps.html#wa" target="_blank">Woodside Garage</a> or <a href="https://www.uc.edu/parking/visitors-maps.html#cg" target="_blank">Campus Green Garage</a>.</p>

<p><strong>Food</strong><br />
We will be serving lunch, dinner, and a midnight snack on Saturday, along with breakfast and lunch on Sunday. Vegetarian and vegan options are included in every meal. Various snacks and drinks will be available throughout the event.</p>

<p><strong>Travel Reimbursement</strong><br />
We offer carpool reimbursement on a case by case basis - receipts must be provided to receive travel reimbursement. We don’t offer reimbursement for flights. As a standard rule, we’ll reimburse 15 cents per mile between UC and your school, up to $60 for a car with more than one participant, or $40 if traveling alone. If we have more reimbursement requests than anticipated, we’ll drop the per mile rate fairly to accommodate all reimbursement applicants. You’ll be able to apply for travel reimbursement following the event. If you’d like more information please do not hesitate to email us at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a>.</p>

<p><strong>Slack</strong><br />
We have a Slack set up for the event! Join it at <a href="http://slack.revolutionuc.com/" target="_blank">slack.revolutionuc.com</a>. You can use Slack to find team members, brainstorm ideas, ask questions, talk to mentors, and get updates during the hackathon.</p>

<p><strong>Socials</strong><br />
<a href="https://twitter.com/revolution_uc" target="_blank">Follow RevolutionUC</a> on Twitter and <a href="https://www.facebook.com/events/522139401962801/" target="_blank">share the event</a> on Facebook! Don't forget to <a href="https://www.instagram.com/revolution.uc/" target="_blank">like our posts</a> on Instagram!</p>

<p><strong>What if I can no longer go to RevolutionUC?</strong><br />
Please send us an email at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> ASAP so we can give your spot to a hacker on the waitlist.</p>

<p><strong>We can’t wait to see you there!</strong><br />
Get excited!</p>

<p>If you're over 18, you can review the event waiver you agreed to <a href="http://revolutionuc.com/waiver">here</a>.</p>
{% endblock %}
