{% extends dirname + '/master.njk' %}

{% block main %}
<p>Dear RevolutionUC Registrants,</p>

<p>Thank you for registering for RevolutionUC Spring 2025! We’re reaching out with an important update about the event schedule and format.</p>

<p>RevolutionUC date has changed and will now take place in person on <strong>March 1–2, 2025</strong>, at the 1819 Innovation Hub (2900 Reading Rd, Cincinnati, OH 45206). Please update your calendar accordingly.</p>

<p>Note that the event is <strong>fully in-person, NOT hybrid</strong> and will NOT take place on February 22–23, as previously communicated.</p>

<p>Closer to the event, we’ll provide additional details about the venue and a shuttle schedule to and from the University of Cincinnati campus.</p>

<p>As always, RevolutionUC is open to students of all skill levels and is completely free to attend. If you have any questions or concerns about these updates, feel free to contact us at info@revolutionuc.com.</p>

<p>In the meantime, keep your eyes out for our theme and logo reveal! (Spoiler Alert: Our mascot is very cute)</p>

<p>We’re excited to see you in March for an unforgettable, hands-on hacking experience!</p>
