<heml>
  <head>
    <subject>{{ subject if subject else '{{subject}}' }}</subject>

    {% if shortDescription %}
      <preview>{{ shortDescription }}</preview>
    {% endif %}

    <!--[if !mso]><!-- -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <!--<![endif]-->

    <style>
      html { box-sizing: border-box; }
      *, *:before, *:after { box-sizing: inherit; }
      body { background-color: #f3f3f3; color: #0a0a0a; line-height: 1.3; font-family: "Lato", sans-serif; padding-left: 16px; padding-right: 16px; }
      a { color: #FC7F3F; }
      .header { margin-top: 16px; }
      .main { background-color: #ffffff; font-size: 18px; margin-top: 16px; }
      .main .main__header { line-height: 60px; font-size: 19px; margin: 0; }
      .main .main__header a { color: #254441
; text-decoration: none; font-weight: normal; }
      p { color: #333; }
      .footer p { color: #254441; font-size: 14px; }
      .footer p a { color: #254441; }
      column { padding-left: 16px; padding-right: 16px; }
      button { font-family: "Lato", sans-serif; background-color: #43AA8B; margin-top: 6px; margin-bottom: 20px; padding: 12px 16px; color: #000; }
      button.success { background-color: #43AA8B; }
    </style>
  </head>
  <body>
    <container>
      <row class="header">
        <column>
          <center>
            <a href="http://revolutionuc.com/" target="_blank">
              <img
                src="https://assets.revolutionuc.com/email/revuc-logo-spring-2023.png"
                alt="RevolutionUC logo"
                width="150" height="175"
              />
            </a>
          </center>
        </column>
      </row>

      <row class="main">
        <column>
          <h1 class="main__header">
            <a href="http://revolutionuc.com/" target="_blank">RevolutionUC - Spring 2023</a>
          </h1>

          {% block main %}{% endblock %}

          <p>Greetings from our friends at Digital Futures!

Hi there and we hope this newsletter finds you well. Digital Futures is excited to be sponsoring a track at Revolution UC this year. As the hackathon draws closer, here are some key takeaways to get you prepared for what’s to come.

A little bit about Digital Futures:
Digital Futures is creating a transdisciplinary space to bring together University of Cincinnati experts for collaboration in “Use-Inspired Basic Research” and “Applied Research.” This future-focused research will harness the power of intellect and technologies to advance the Cincinnati region, and impact our global society.

Digital Futures stories: 
This edition introduces you to one of the labs at Digital Futures called the Smart Synergies Lab. Led by Dr. Jessica Kropczynski, the lab investigates the infrastructure connecting smart homes to smart cities. Follow this link to learn more about Dr. Kropczynski’s research. Dr. Kropczynski will also be representing Digital Futures at RevolutionUC as a mentor. Details on how to join the mentor sessions will be posted on the Digital Futures Discord channel at the start of the hackathon.

Digital Futures track question:
The Digital Futures track question won’t be released until the hackathon starts this Saturday, but those who design their projects with this track in mind can expect to explore the future of immersive storytelling using digital technologies with an interest in Augmented Reality toolkits. 

A word from the Digital Futures tech-partners: 
To help boost your creativity, at the hackathon, you’ll have access to wonderful design tools developed by some innovative companies. You can start learning about some of these tech-partners before the event including today’s featured tool, StoryFormer. Storyformer has been created and developed by the MakerBox team at BBC R&D. Please refer to the note* below for instructions on how to get access to Storyformer, prior to the hackathon.

“StoryFormer is a tool for creating flexible, responsive, and interactive stories. From personalized podcasts to interactive explainers, StoryFormer opens up a world of dynamically changing media that responds to audience’s inputs and preferences. 
 
With StoryFormer, you can give every viewer the option to personalize their story - taking personalisation options before the experience starts, interactions while it’s underway, or even a mix of the two. Using these features, different parts of a story can be explored at the audience’s will, expanded in depth, or avoided entirely.
 
StoryFormer also allows the media for any particular section of the narrative to be varied: perhaps your audiences want to listen to an audio version of a story, rather than watch it, or skim through it as a graphic novel? All of this flexibility is under the producer’s control within StoryFormer’s simple user interface. 
 
*To get started with StoryFormer simply create a BBC Login and then sign up for the tool on MakerBox. From there we’ll help you get onboarded before the hack, answer any questions you have about the tool, and set you up for a, hopefully, winning hack! Please indicate in your sign up form that you’re applying as part of the RevolutionUC hack.”

Instructions for using StoryFormer
If you are interested in using StoryFormer, it will be really helpful if you could sign up before the hackathon begins, following the instructions above. Although you will have the opportunity to sign up during the hackathon, it may take some time to approve your access.

End note:
Thank you for your involvement in the hackathon. Your participation and support in helping further realize and build the Digital Futures community is appreciated immensely. Stay tuned for the next edition of your newsletter, coming your way. Until then, keep hacking! 
</p>

          <p>
            Thanks!<br>
            &nbsp;&nbsp;- The RevolutionUC Team
          </p>

          <hr />

          <row>
            <column small="3">
              <center><a href="https://www.facebook.com/RevolutionUC" target="_blank">
                <img src="https://assets.revolutionuc.com/email/social/facebook.png" width="20" height="20" />
              </a></center>
            </column>
            <column small="3">
              <center><a href="https://twitter.com/Revolution_UC" target="_blank">
                <img src="https://assets.revolutionuc.com/email/social/twitter.png" width="20" height="20" />
              </a></center>
            </column>
            <column small="3">
              <center><a href="http://instagram.com/Revolution.UC" target="_blank">
                <img src="https://assets.revolutionuc.com/email/social/instagram.png" width="20" height="20" />
              </a></center>
            </column>
            <column small="3">
              <center><a href="http://revolutionuc.com/" target="_blank">
                <img src="https://assets.revolutionuc.com/email/social/link.png" width="20" height="20" />
              </a></center>
            </column>
          </row>
          <br />
        </column>
      </row>

      <row class="footer">
        <column>
          <p>You are receiving this email because you registered for <a href="http://revolutionuc.com/" target="_blank">RevolutionUC</a>.</p>

          <p>Our mailing address is:</p>
          <p>Association for Computing Machinery @ UC<br />Rhodes 802A<br />2851 Woodside Dr.<br />Cincinnati, OH 45221</p>

          <p><a href="mailto:info@revolutionuc.com">Contact Us</a></p>

          <p>© 2023 RevolutionUC</p>
        </column>
      </row>
    </container>
  </body>
</heml>
