{% extends dirname + 'master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the user's first name)
#}

{% block main %}
<h2>Hi {{ firstName if firstName else '*|FNAME|*' }}!</h2>

<p>Thanks for confirming your attendance for RevolutionUC! Here’s what you need to know.</p>

<p><strong>What to Bring</strong><br />
Please bring a valid school ID for registration, a computer to hack on, any chargers for your device(s), and a positive attitude! We also recommend bringing basic toiletries (toothbrush, deodorant, etc), a pillow/blanket (if you choose to nap). Please note that Ethernet access will be limited, so please plan to use a Wi-Fi connection.</p>

<p><strong>Teams and Hacking</strong><br />
The maximum team size is four. Don’t have a team? No worries! We’ll have a team building session after the opening ceremony. Note: you can bring an idea to the hackathon, but all hacking on your project must be done at the hackathon.</p>

<p><strong>Schedule</strong><br />
Check-in will open at 12:00 PM on April 8th and the opening ceremony is set to begin at 1:00 PM. The closing ceremony will start at 4:30 PM on April 9th. See <a href="http://revolutionuc.com/schedule" target="_blank">revolutionuc.com/schedule</a> for full schedule details.</p>

<p><strong>Checking in</strong><br />
Check in will be in the lobby of Zimmer Hall. See <a href="https://www.uc.edu/content/dam/common/docs/maps/campus_map_west.pdf" target="_blank">this campus map</a> if you’re unsure where to go. If you arrive after 2:30pm on Saturday, please go straight to our hacking area in Rhodes 801.</p>

<p><strong>Parking</strong><br />
UC has plenty of parking garages! For a full list, check out the university’s <a href="https://www.uc.edu/parking/visitors-maps.html" target="_blank">Maps and Visitor Info page</a>. The hackathon occurs on West Campus, so we would recommend parking at <a href="https://www.uc.edu/parking/visitors-maps.html#wa" target="_blank">Woodside Garage</a> or <a href="https://www.uc.edu/parking/visitors-maps.html#cg" target="_blank">Campus Green Garage</a>.</p>

<p><strong>Food</strong><br />
We will be serving dinner and a midnight snack on Saturday, along with breakfast and lunch on Sunday. Vegetarian options are included in every meal. Various snacks and drinks will be available throughout the event.</p>

<p><strong>Waiver</strong><br />
Before any hacking begins we require you to sign a waiver. If you are under 18 you will need a parent or legal guardian to sign the waiver. <a href="https://docs.google.com/document/d/1JeVpRwgB-RCTtEwpf0FjhzEW1ER6nhCbDUEWtA4nDRU/edit?usp=sharing" target="_blank">You can print the waiver ahead of time</a>.</p>

<p><strong>Travel Reimbursement</strong><br />
We offer carpool reimbursement for those traveling to Cincinnati! Following the event, you will need to submit information like mileage, receipts, and who you traveled with. We’ll reimburse on a fair basis as our budget allows. We don’t offer reimbursement for flights. If you’d like more information, please email us at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a>.

<p><strong>Slack</strong><br />
We have a Slack setup for the event! Join it at <a href="http://slack.revolutionuc.com/" target="_blank">slack.revolutionuc.com</a>. You can use Slack to find team members, brainstorm ideas, ask questions, talk to mentors, and get updates during the hackathon.</p>

<p><strong>Twitter and Facebook</strong><br />
<a href="https://twitter.com/revolution_uc" target="_blank">Follow RevolutionUC</a> on Twitter and <a href="https://www.facebook.com/events/983056285171708/" target="_blank">share the event</a> on Facebook!</p>

<p><strong>What if I can no longer go to RevolutionUC?</strong><br />
Please send us an email at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> ASAP so we can give your spot to someone on the waitlist.</p>

<p><strong>We can’t wait to see you there!</strong><br />
Get excited!</p>
{% endblock %}
