{# general - template for emails with regular content #}

{% extends dirname + 'master.njk' %}

{% block main %}
  {% if body %}
    {{ body }}
  {% else %}
    <row>
      <columns small="12" mc:edit="body"> {# allows for editing this content block in mailchimp #}
        <h2 class="title">Primary Heading</h2>
        <p>Sample copy. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id
        pulvinar odio lorem non turpis.</p>
        <h3 class="subTitle">Subheading</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
      </columns>
    </row>
  {% endif %}
{% endblock %}
