{# general - template for emails with regular content #}

{% extends dirname + 'master.njk' %}

{#
Additional arguements for this template:
  - body (text)
#}

{% block main %}
  {% if body %}
    {{ body }}
  {% else %}
    <row>
      <columns small="12" > {# allows for editing this content block in mailchimp #}
        <div mc:edit="body"></div>
      </columns>
    </row>
  {% endif %}
{% endblock %}
