{# general - template for emails with regular content #}

{% extends dirname + '/master.njk' %}

{#
Additional arguements for this template:
  - body (text)

If no body is given, the template will default to the mailchimp editable body section
#}

{% block main %}
  {% if body %}
    {{ body }}
  {% else %}
    <div mc:edit="body"></div>
  {% endif %}
{% endblock %}
