{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the user's first name)
    - discordLink (discord access link)
    - hopinLink (hopin access link)
#}

{% block main %}
<h1>Hey, {{ firstName if firstName else '{{first_name}}' }}!</h1>

<p>RevolutionUC is starting TOMORROW at noon! Here&apos;s some important information:</p>

{% include dirname + '/partials/Inperson.njk' %}

{% include dirname + '/partials/1819Transportation.njk' %}

{% include dirname + '/partials/Schedule.njk' %}

{% include dirname + '/partials/CheckIn-Inperson.njk' %}

{% include dirname + '/partials/WhatToBring.njk' %}

{% include dirname + '/partials/Discord.njk' %}

{# {% include dirname + '/partials/Workshops.njk' %} #}

{# {% include dirname + '/partials/AvailableHardware.njk' %} #}

{% include dirname + '/partials/HackSubmissions.njk' %}

{# {% include dirname + '/partials/Mentors.njk' %} #}

{% include dirname + '/partials/Teams.njk' %}

{% include dirname + '/partials/MiniEvents.njk' %}

{% include dirname + '/partials/Socials.njk' %}

{% endblock %}
