{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the user's first name)
#}

{% block main %}
<h1>Hey, {{ firstName if firstName else '{{first_name}}' }}!</h1>

<p>We’re less than 3 weeks away from RevolutionUC Spring 2022! Here are some updates on the event:</p>

<h3>Attendance Confirmation</h3>
<p>You will receive an attendance confirmation email early next week. If you are planning to participate in RevolutionUC, please make sure you confirm your attendance.</p>

{% include dirname + '/partials/Schedule.njk' %}

{% include dirname + '/partials/Virtual.njk' %}

{% include dirname + '/partials/HackerMatching.njk' %}

{% include dirname + '/partials/Sponsors.njk' %}

{% include dirname + '/partials/Socials.njk' %}

{% include dirname + '/partials/Waiver.njk' %}

<p><strong>Can’t wait to see you there!</strong></p>

<p>Get excited! There’s less than 3 weeks until hacking begins at RevolutionUC!</p>
{% endblock %}
