{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the user's first name)
    - discordLink (discord access link)
    - hopinLink (hopin access link)
#}

{% block main %}
<h1>Hey, {{ firstName if firstName else '{{first_name}}' }}!</h1>

<p>RevolutionUC is tomorrow! Here’s some important information:</p>

{% include dirname + '/partials/VirtualLinks.njk' %}

{% include dirname + '/partials/Schedule.njk' %}

{% include dirname + '/partials/CheckIn.njk' %}

{% include dirname + '/partials/WhatToBring.njk' %}

{% include dirname + '/partials/AvailableHardware.njk' %}

{% include dirname + '/partials/HackSubmissions.njk' %}

<p><strong>Workshops</strong><br />
We have some exciting workshops planned for you! Hear from our sponsor Fifth Third about serverless computing, learn about augmented reality with Digital Futures, or build a Pokedex using React.</p>

{% include dirname + '/partials/Mentors.njk' %}

{% include dirname + '/partials/Teams.njk' %}

{% include dirname + '/partials/MiniEvents.njk' %}

<p><strong>Resources</strong><br/>
Need some help with where to start? Or what technologies we recommend using? Check out the Resources page on our website <a href="https://revolutionuc.com/resources/">here</a>!
</p>

{% include dirname + '/partials/Lattice.njk' %}

{% include dirname + '/partials/Socials.njk' %}

{% endblock %}
