{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the user's first name)
#}

{% block main %}
<h1>Hey, {{ firstName if firstName else '{{first_name}}' }}!</h1>

<p>We’re less than 3 weeks away from RevolutionUC Spring 2021! Here are some updates on the event:</p>

<h3>Attendance Confirmation</h3>
<p>You will receive an attendance confirmation email early next week. If you are planning to participate in RevolutionUC, please make sure you confirm your attendance.</p>

{% include dirname + '/partials/Schedule.njk' %}

{% include dirname + '/partials/Virtual.njk' %}

{% include dirname + '/partials/HackerMatching.njk' %}

<h3>Sponsors</h3>
<p>We’ve got some great sponsors this year including 84.51°, Fifth Third, MetaRouter, Atomic Robot, and more! Sponsors will be on-site to chat before and after the opening ceremony. See <a href="https://revolutionuc.com/sponsors/" target="_blank">revolutionuc.com/sponsors</a> for the full list of sponsors and partners!</p>

{% include dirname + '/partials/Socials.njk' %}

{% extends dirname + '/partials/Waiver.njk' %}

<p><strong>Can’t wait to see you there!</strong></p>

<p>Get excited! There’s less than two weeks until hacking begins at RevolutionUC!</p>
{% endblock %}
