{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the user's first name)
#}

{% block main %}
<h1>Hey, {{ firstName if firstName else '{{first_name}}' }}!</h1>

<p>We&apos;re excited to see you at RevolutionUC this weekend! Here&apos;s some important information:</p>

{% include dirname + '/partials/Inperson.njk' %}

{% include dirname + '/partials/CheckIn-Inperson.njk' %}

{% include dirname + '/partials/Parking.njk' %}

{% include dirname + '/partials/Schedule.njk' %}

{% include dirname + '/partials/Food.njk' %}

{% include dirname + '/partials/TravelReimbursement.njk' %}

{% include dirname + '/partials/WhatToBring.njk' %}

{% include dirname + '/partials/AvailableHardware.njk' %}

{% include dirname + '/partials/HackSubmissions.njk' %}

{# <p><strong>Tech Talks</strong><br />
Some of our awesome sponsors will be giving tech talks! Stay tuned for our full schedule.</p> #}

{# {% include dirname + '/partials/Mentors.njk' %} #}

{# {% include dirname + '/partials/MiniEvents.njk' %} #}

{% include dirname + '/partials/Lattice.njk' %}

{% include dirname + '/partials/Discord.njk' %}

{% include dirname + '/partials/Waiver.njk' %}

{% include dirname + '/partials/Socials.njk' %}

<p><strong>What if I can no longer go to RevolutionUC?</strong><br />
Please send us an email at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a></p>
{% endblock %}
