{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the user's first name)
#}

{% block main %}
<h1>Hey, {{ firstName if firstName else '{{first_name}}' }}!</h1>

<p>We’re excited to see you at RevolutionUC this weekend! Here’s some important information:</p>

<p><strong>Check-in</strong><br />
Please bring a valid school issued ID for check-in. Check-in will be in the Zimmer Hall lobby. See <a href="https://www.uc.edu/content/dam/common/docs/maps/campus_map_west.pdf" target="_blank">this campus map</a> if you’re unsure where to go. If you arrive after 1:00 PM on Saturday, please go straight to our hacking area in Rhodes 801 instead.</p>

<p><strong>Parking</strong><br />
UC has plenty of parking garages! For a full list, check out the university’s <a href="https://www.uc.edu/parking/visitors-maps.html" target="_blank">Maps and Visitor Info page</a>. The hackathon occurs on West Campus, so we would recommend parking at <a href="https://www.uc.edu/parking/visitors-maps.html#wa" target="_blank">Woodside Garage</a> or <a href="https://www.uc.edu/parking/visitors-maps.html#cg" target="_blank">Campus Green Garage</a>.</p>

<p><strong>Schedule</strong><br />
Check-in will open at 11:00 AM on February 22nd and the opening ceremony is set to begin at 12:00 PM. The closing ceremony will start at 3:15 PM on February 23rd. See <a href="https://revolutionuc.com/schedule/" target="_blank">revolutionuc.com/schedule</a> for full and up to date schedule details.</p>

<p><strong>Where to Go</strong><br />
When you arrive to UC on Saturday morning, go to Zimmer Hall for check-in and the opening ceremony. If arriving after 1:00 PM on Saturday, go straight to the 8th floor of Rhodes Hall, check-in will be located in the lobby area. <a href="https://www.google.com/maps/d/viewer?mid=1TjrgYqympQvIw1yXliRJPGXY2Mg&ll=39.13259126083332%2C-84.51296343942988&z=16" target="_blank">You can find a searchable map of the University of Cincinnati here</a>.</p>

<p><strong>Waiver</strong><br />
If you're over 18, you can you can review the event waiver you agreed to <a href="http://revolutionuc.com/waiver">here</a>. If you're under 18, you should have received an email with additional instructions. If you haven’t, please reach out to <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> immediately!</p>

<p><strong>What to bring</strong><br />
Please bring a valid school ID for check-in, your laptop, phone, or anything else you want to hack on, any chargers for your device(s), and a positive attitude! We also recommend bringing basic toiletries (toothbrush, deodorant, etc), a pillow/blanket (if you choose to nap). Please note that Ethernet access will be limited, <em>so plan to use a Wi-Fi connection</em>.</p>

<p><strong>Hardware Lab</strong><br />
Hardware includes Amazon Echo’s, Arduino’s, Oculus Rift’s, and more as part of the MLH hardware lab! More details will be available at the event. All hardware is available on a first-come-first serve basis.</p>

<p><strong>Hack Submission</strong><br />
All projects must be submitted to Devpost to be considered for judging. See all the details on judging and prizing categories <a href="https://revuc-ix.devpost.com/" target="_blank">on our Devpost</a>. Please have your project submitted by 12:00 PM on Sunday.</p>

<p><strong>Tech Talks</strong><br />
Some of our awesome sponsors will be giving tech talks! <a href="https://docs.google.com/presentation/d/e/2PACX-1vRDsvoIpojRf5DzNOC0XSJFdlHcOgo_41S5NTeBX4UNBYdD7C_xU6zYAKjlXsQifdZ5ige-BmDdI8dA/pub?start=false&loop=false&delayms=3000" target="_blank">See the full tech talk schedule</a>.</p>

<p><strong>Mentors</strong><br />
Mentors will be available to help you as much (or as little) as you'd like; let an organizer know if you can't find one.</p>

<p><strong>Teams</strong><br />
The maximum team size is four. Don’t have a team? No worries! Join our <a href="http://slack.revolutionuc.com/" target="_blank">Slack</a> and check out the team-building channel for team and/or idea building before the event. We’ll also have a team building session after the opening ceremony.</p>

<p><strong>Food</strong><br />
We will be serving lunch, dinner, and a midnight snack on Saturday, along with breakfast and lunch on Sunday. Vegetarian and vegan options are included in every meal. Various snacks and drinks will be available throughout the event.</p>

<p><strong>Mini-Events</strong><br />
Our mini-events include cup stacking, a paper airplane contest and lightning talks! Have a cool topic you want to do a short talk on? More information on how to give a lightning talk will be available at the event!</p>

<p><strong>Slack</strong><br />
We have a Slack setup for the event! Join it at <a href="http://slack.revolutionuc.com/" target="_blank">slack.revolutionuc.com</a>. You can use Slack to find team members, brainstorm ideas, ask questions, talk to mentors, and get updates during the hackathon.</p>

<p><strong>Travel Reimbursement</strong><br />
We offer carpool reimbursement on a case by case basis - receipts must be provided to receive travel reimbursement. We don’t offer reimbursement for flights. As a standard rule, we’ll reimburse 15 cents per mile between UC and your school, up to $60 for a car with more than one participant, or $40 if traveling alone. If we have more reimbursement requests than anticipated, we’ll drop the per mile rate fairly to accommodate all reimbursement applicants. You’ll be able to apply for travel reimbursement following the event. If you’d like more information please do not hesitate to email us at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a>.</p>

<p><strong>Socials</strong><br />
<p><a href="https://twitter.com/revolution_uc" target="_blank">Follow RevolutionUC</a> on Twitter and <a href="https://www.facebook.com/events/522139401962801/" target="_blank">share the event</a> on Facebook! Don't forget to <a href="https://www.instagram.com/revolution.uc/" target="_blank">like our posts</a> on Instagram!</p>

<p><strong>What if I can no longer go to RevolutionUC?</strong><br />
Please send us an email at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> ASAP so we can give your spot to a hacker on the waitlist.</p>
{% endblock %}
