{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the user's first name)
#}

{% block main %}
<h1>Hey, {{ firstName if firstName else '{{first_name}}' }},</h1>

<p>We’re excited to have you at RevolutionUC! Because you’re under 18, there is some extra information you need to know to get ready. Following these guidelines is mandatory and necessary for compliance with university guidelines. Please share this document with your parent/guardian.</p>

<p><strong>Communication Information</strong><br />
Parents/guardians will be able contact hackathon organizers with questions or concerns during the event. The primary contact for questions related to minors at the event is Lina Kaval, who can be reached at (513) 550-3857. Our backup contact is Brandon Starcheus, who can be reached at (614) 915-9149. Questions can also be asked prior to the event via email at info@revolutionuc.com. Parents/Guardians are also expected to supervise their participant during the event.</p>

<p><strong>Waiver and Release Forms</strong>
You can view and download the required waiver and release forms at this link. Each form (total of 3) must be completed and signed by a parent/guardian - these must be completed and emailed to this email (info@revolutionuc.com) before February 20th. These forms are mandatory in order to be allowed to participate in RevolutionUC.</p>

<p>The three forms are the Minors Waiver, Liability Release Form, and Photo Release Form. Please make sure to fill out these forms; it is not the same waiver that is given to over 18 participants at the time of registration. Submission of the waiver and forms at check-in is mandatory for participation.</p>

<p>In the event of an emergency, we will notify your primary emergency contact. If we cannot reach your primary contact, we will notify your secondary emergency contact.</p>

<p>
  <center>
    <button class="large secondary" href="https://drive.google.com/drive/folders/1UfTWYaESVp987ebwVq4kIE4ghTeypzSB?usp=sharing" target="_blank">Download Forms</button>
  </center>
</p>

<p><strong>Working Virtually</strong><br />
This year, we are completely virtual due to COVID-19. At no time during the event will you be expected to travel anywhere physically. Due to this, you will be able to stay at home, under the supervision of your parent/guardian. The two online platforms we are using are Hopin and Discord. We may also use YouTube and Webex as a backup. If anyone not part of the organizing team (will have the Organizer role in Discord) invites you to a different platform, please contact Lina at (513) 550-3857 or on Discord at wcrklmn#1829.</p>

<p>On the Discord server, we will have text and voice channels dedicated for minors only. This is a space where only minors and organizers will be able to chat. This effort will ensure we can offer mandated supervision for all minors.</p>

<p><strong>Platforms</strong><br /></p>
<table>
  <tr>
    <td><strong>Platform</strong></td>
    <td><strong>Purpose</strong></td>
    <td><strong>Other Notes</strong></td>
  </tr>
  <tr>
    <td>Hopin</td>
    <td>Connect with sponsors, watch our Opening, Closing and Award Ceremonies, and attend workshops held by sponsors and organizers.</td>
    <td>Participants will be provided an invite link in an email. This is an online application.</td>
  </tr>
  <tr>
    <td>Discord</td>
    <td>Check-in, connect with other hackers, attend mini-events, and where the minors space is located. Judging will also take place on Discord.</td>
    <td>Participants will be provided in an invite link in an email. This can be accessed online or downloaded.</td>
  </tr>
  <tr>
    <td>YouTube</td>
    <td>Our backup solution for Opening, Closing, and Award Ceremonies</td>
    <td>Participants may be provided this in the Discord #general channel. This can be accessed online.</td>
  </tr>
  <tr>
    <td>Webex</td>
    <td>Our backup solution for workshops and Sponsor Expo.</td>
    <td>Participants may be provided this in the Discord #general channel. This can be accessed online or downloaded.</td>
  </tr>
</table>

<p><strong>Leaving and Re-Entering the Event</strong><br />
Because this is a virtual event, you are free to come and go on Discord and Hopin. As we are only able to supervise you while you are online, your parent/guardian is responsible for your physical well-being.</p>

<p>We look forward to hacking with you!</p>
{% endblock %}
