{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the user's first name)
#}

{% block main %}
<h1>Hey, {{ firstName if firstName else '{{first_name}}' }}!</h1>

<p>RevolutionUC is tomorrow! Here’s some important information:</p>

{% extends dirname + '/partials/Check-In.njk' %}

{% extends dirname + '/partials/Wristbands.njk' %}

<p><strong>Wolfram Keys</strong><br />
RevolutionUC has partnered with Wolfram to allow all hackers free access to Wolfram One for 30 days! You can redeem your trial copy <a href="https://account.wolfram.com/redeem/RevolutionUC2021" target="_blank">here</a>.
</p>

<img src="https://s3.us-east-2.amazonaws.com/revolutionuc-assets/map.jpg">

{% extends dirname + '/partials/Parking.njk' %}
 
{% include dirname + '/partials/Schedule.njk' %}

{% extends dirname + '/partials/Waiver.njk' %}

{% include dirname + '/partials/WhatToBring.njk' %}

{% include dirname + '/partials/AvailableHardware.njk' %}

<p><strong>Available Software</strong><br />
Software includes credits for Twilio, Google Cloud Platform, Domain.com, Wolfram Alpha, and more! Details on how to redeem the credits will be available at the event. We recommend that you download any large pieces of software ahead of time.</p>

{% include dirname + '/partials/HackSubmissions.njk' %}

{% include dirname + '/partials/Mentors.njk' %}

{% include dirname + '/partials/Teams.njk' %}

{% include dirname + '/partials/Food.njk' %}

{% include dirname + '/partials/MiniEvents.njk' %}

{% include dirname + '/partials/Slack.njk' %}

{% include dirname + '/partials/TravelReimbursement.njk' %}

{% include dirname + '/partials/Socials.njk' %}

<p><strong>What if I can no longer go to RevolutionUC?</strong><br />
Please send us an email at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a> ASAP so we can give your spot to a hacker on the waitlist.</p>
{% endblock %}
