{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the registrant's first name)
    - registrantId (the registrant's database id)
#}

{% block main %}
<h1>Hey, {{ firstName if firstName else '{{first_name}}' }}!</h1>

<p>We’re less than 2 weeks away from RevolutionUC Spring 2021! Here are some updates on the event:</p>

{% include dirname + '/partials/Lattice.njk' %}

{% include dirname + '/partials/Virtual.njk' %}

{% include dirname + '/partials/Schedule.njk' %}

{% include dirname + '/partials/Sponsors.njk' %}

{% include dirname + '/partials/Socials.njk' %}

{% extends dirname + '/partials/Waiver.njk' %}

<p><strong>Can’t wait to see you there!</strong></p>

<p>Get excited! There’s less than two weeks until hacking begins at RevolutionUC!</p>
{% endblock %}
