{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the judge's first name)
    - judgingLoginLink (link to log in to judging portal)
#}

{% block main %}
<h1>Hey, {{ firstName if firstName else '{{first_name}}' }},</h1>

<p>Thank you for signing up to judge at RevolutionUC.</p>

<p>Here is some information that will be important to know!</p>

<h3>Judging Process</h3>
<p>
The judging will happen on Discord. Please use the email address that you received this email as the username/email and your password is "dsvmfm6nsuc". Discord is a platform that can be accessed from the web or downloaded. 
It has voice chat, texting, and screensharing capabilities. <a href="https://discord.gg/a5yfCWGpzf" target="_blank"><t>Click here to join Discord</a>
<br><br>At 12:30pm, judges will meet on Discord (in the #lounge voice channel) for any help or explanations. We will also be going over the judging portal and the judging process.
<br><br>Around 1pm, judging will start. Judges will need to be in their assigned judging voice
channel and have the judging portal open as well. Using the judging portal, you will simply drag and drop your top 5 projects over into
the ranked section of the page. Feel free to take your own notes to keep track! Once you are done, simply check-in in the #judges text channel
to make sure your decisions have been received and you will be free to leave!</p>

<h3>Schedule</h3>
<p>
12:30pm - Meeting on Discord (#lounge voice channel) for updates and tech help 
<br>1:00pm  - Judging starts
<br>3:30pm  - Approximate time judging will end
</p>

<h3>Judging Process</h3>
<p>
The judging process this year will include the use of Devpost. Hackers will submit video presentations and will also fill the Devpost fields which will help 
answer any general questions judges might have based on the judging criteria below. Judges will be a part of a judging group and can discuss within themselves to select the
top 5 projects.
</p>

<h3>Judging Criteria</h3>
<p>We have 3 criteria for judging projects! (For sponsor judges, please go by your standards as well)
<br><strong>Learning:<s/trong> Convey that you learned something new, took on something ambitious relative to your skill level, take on something you’ve never done before with the awesome resources that we have for you this weekend.
<br><strong>Execution:</strong> How well did you plan your hack and overcome difficulties during hacking?
<br><strong>Originality:</strong> How creative your hack is. We think you will have some really original hacks!
</p>

<h3>How to Use Discord</h3>
<p>Please use this <a href="https://support.discord.com/hc/en-us/articles/360033931551-Getting-Started" target="_blank"><t>link to learn how to create an account </a> (if you don't already have one)!
You can also view this <a href="https://support.discord.com/hc/en-us/articles/360045138571-Beginner-s-Guide-to-Discord" target="_blank"><t>link to learn how Discord works!</a>
<br>You can use the #checkin channel on our Discord server to check in. Simply go into the channel and send a message with your email. Revvit, our Discord bot, will search for your registration and grant you access to the rest of the server. If you face any issues, you can talk to us on the #checkin-help channel and we will resolve your issue. Once you are in, get acquainted with our channels!
</p>

<button href="{{ judgingLoginLink if judgingLoginLink else '#' }}" target="_blank">Open Judging Portal</button>

<p>We look forward to having you at RevolutionUC!</p>
{% endblock %}
