{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the judge's first name)
    - judgingLoginLink (link to log in to judging portal)
#}

{% block main %}
<h1>Hey, {{ firstName if firstName else '{{first_name}}' }},</h1>

<p>Thank you for signing up to judge at RevolutionUC.</p>

<p>Here is some information that will be important to know!</p>

<h3>Judging Process</h3>
<p>
The judging process will happen on Discord. Discord is a platform that can be accessed from the web or downloaded. 
It has voice chat, texting, and screensharing capabilities. <a href="https://discord.gg/CbdwpbsS" target="_blank"><t>Click here to join Discord</a>
<br><br>At 12:30pm, judges will meet on Webex for any help or explanations
of how to use Discord or our judging platform. 
<br><br>At 1:30pm, judging will start. Judges will need to be in their assigned judging voice
channel and have the judging portal open as well. Using the judging portal, you will simply drag and drop your top 5 projects over into
the ranked section of the page. Feel free to take your own notes to keep track! Once you are done, simply check-in in the #judges text channel
to make sure your decisions have been received and you will be free to leave!</p>

<h3>Schedule</h3>
<p>
12:30pm - Meeting on Webex for updates and tech help 
<br><a href="https://ucinnstudents.webex.com/meet/kavalla" target="_blank"><t>Link to Webex meeting</a>
<br>1:30pm  - Judging starts
<br>3:30pm  - Approximate time judging will end
</p>

<button href="{{ judgingLoginLink if judgingLoginLink else '#' }}" target="_blank">Open Judging Portal</button>

<p>We look forward to having you at RevolutionUC!</p>
{% endblock %}
