{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the user's first name)
#}

{% block main %}
<h1>Hey, {{ firstName if firstName else '{{first_name}}' }},</h1>

<p>We’re excited to have you at RevolutionUC! Because you’re under 18, there is some extra information you need to know to get ready. Following these guidelines is mandatory and necessary for compliance with university guidelines.</p>

<p><strong>Communication Information</strong><br />
Parents/guardians will be able contact hackathon organizers with questions or concerns during the event. The primary contact for questions related to minors at the event is JT Salisbury, who can be reached at (614) 519-1896. Questions can also be asked prior to the event via email at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a>. Parents/Guardians are also welcome to contact their participant at any time during the event by phone, email, etc.</p>

<p><strong>Waiver and Release Forms</strong>
You can view and download the required waiver and release forms using the button below. Each form (total of 6) must be completed and signed by a parent/guardian - we highly recommend doing this before the event. These forms are mandatory in order to be allowed to participate in RevolutionUC.</p>

<p>Emergency contact information and medical information will be collected using the forms linked below. Please make sure to download this specific version of the waiver; it is not the same waiver that is given to over 18 participants at the time of registration. Submission of the waiver and forms at check-in is mandatory for participation.</p>

<p>In the event of an emergency, we will notify your primary emergency contact. If we cannot reach your primary contact, we will notify your secondary emergency contact.</p>

<p>
  <center>
    <button class="large secondary" href="https://drive.google.com/drive/folders/1kQTXQvbOoTAongsEuHIGFr_GnxQS5vlX?usp=sharing" target="_blank">Download Forms</button>
  </center>
</p>

<p><strong>Dedicated Hackerspace</strong><br />
The event will be taking place primarily on the 800 floor of Rhodes Hall in the 801 suite. We will also be using rooms 860D and 860B. Although all of these areas will be considered a part of the hackerspace, as a minor, your workspace will be in 860D. This effort will ensure we can offer mandated supervision for all minors.</p>

<p>The address for Rhodes Hall is 2901 Woodside Dr, Cincinnati OH 45221. If you need help finding rhodes hall from the parking options available there, you can find a complete map of campus <a href="https://www.uc.edu/content/dam/uc/af/pdc/maps/maps_2016_2017/2016-2017%20UC%20Uptown%20West%20Campus.pdf" target="_blank">here</a>.</p>

<p><strong>Leaving and Re-Entering the Event</strong><br />
If you want to leave during the event, you must either be signed out by your parent/guardian in the 860D space or be pre-approved by your parent/guardian on the above waiver. If you are not pre-approved, then your parent/guardian must also sign you back in. This includes if you wish to leave before the event ends. If under 18 and leaving, you must sign out with the designated hackathon organizer in the 860D suite before leaving, and sign back in upon returning.</p>

<p><strong>Wristbands</strong><br />
Wristbands will be handed out at check-in and are required for meals and swag. Once we reach our capacity, we won't be able to give out extra wristbands. Even if you've confirmed your attendance, if you arrive after we've run out of wristbands, you'll still be able to participate in hacking, however, unfortunately, <em>we won't be able to offer you meals or swag.</em></p>

<p><strong>Pick-up and Drop-off</strong><br />
If you’re not driving to the event, you can be dropped off in ERC Circle at 2901 Woodside Dr, Cincinnati OH 45221. This is also where you can be picked up after the event.</p>

<p>We look forward to hacking with you!</p>
{% endblock %}
