{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the user's first name)
#}

{% block main %}
<h1>Hey, {{ firstName if firstName else '{{first_name}}' }},</h1>

<p>We’re excited to have you at RevolutionUC! Because you’re under 18, there is some extra information you need to know to get ready. Following these guidelines is mandatory and necessary for compliance with university guidelines. Please share this document with your parent/guardian.</p>

<p><strong>Communication Information</strong><br />
Parents/guardians will be able contact hackathon organizers with questions or concerns during the event. The primary contact for questions related to minors at the event is Daniel Hackney, who can be reached at (513) 614-5249. Our backup contact is Brandon Starcheus, who can be reached at (614) 915-9149. Questions can also be asked prior to the event via email at info@revolutionuc.com. Parents/guardians are also welcome to contact their participant at any time during the event by phone, email, etc.

<p><strong>Waiver and Release Forms</strong><br />
You can view and download the required waiver and release forms at the link below. Each form (total of 7) must be completed and signed by a parent/guardian - these must be completed and emailed to this email (info@revolutionuc.com) before February 25th. These forms are mandatory in order to be allowed to participate in RevolutionUC.

<p>The seven forms are the Minors Waiver, Liability Waiver, Early Release form, Medical Info and Release form, Over-the-Counter Medication form, Self-Administration of Prescription Medication form, and Photo Release form. Please make sure to fill out these forms; it is not the same waiver that is given to over 18 participants at the time of registration. Submission of the waiver and forms at check-in is mandatory for participation.</p>

<p>In the event of an emergency, we will notify your primary emergency contact. If we cannot reach your primary contact, we will notify your secondary emergency contact.</p>

<p>
  <center>
    <button class="large secondary" href="https://drive.google.com/drive/folders/1Tz8ie8l4nbdQoDHEIHJ--EThnAw8yNOB?usp=sharing" target="_blank">Download Forms</button>
  </center>
</p>

<p><strong>>Dedicated Hackerspace</strong><br />
The event will be taking place in person, at a new location slightly off of UC’s main campus at the 1819 Innovation Hub. The entirety of the building will be considered a part of the hackerspace, but designated members of our organizing team will oversee a specific area for minors. This effort will ensure we can offer mandated supervision for all minors.

<p>The address for the 1819 Innovation Hub is 2900 Reading Rd, Cincinnati, OH 45206.</p>

<p><strong>Leaving and Re-Entering the Event</strong><br />
If you want to leave during the event, you must either be signed out by your parent/guardian at the 1819 Innovation Hub or be pre-approved by your parent/guardian on the previously mentioned Early Release form. If you are not pre-approved, then your parent/guardian must also sign you back in. This includes if you wish to leave before the event ends. If under 18 and leaving, you must sign out with the designated hackathon organizer in the 1819 Innovation Hub before leaving, and sign back in upon returning.</p>

{% extends dirname + '/partials/Wristbands.njk' %}

<p><strong>Pick-up and Drop-off</strong><br />
If you’re not driving to the event, you can be dropped off directly at the 1819 Innovation Hub. This is also where you can be picked up after the event.</p>

<p>We look forward to hacking with you!</p>
{% endblock %}
