{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the user's first name)
    - resetToken (reset token)
#}

{% block main %}
<h1>Hey, {{ firstName if firstName else '{{first_name}}' }}!</h1>

<p>We have received a password reset request for your Lattice account. Lattice is our Hacker matching app that you can use to find other RevolutionUC 2021 participants to team up with.<p>

<p>Please use the link below to reset your Lattice password</p>

<button href="https://lattice.revolutionuc.com/auth/reset/{{ resetToken if resetToken else '#' }}" target="_blank">Reset Password</button>

<p>If this link does not work, copy and paste this url in your browser: https://lattice.revolutionuc.com/auth/reset/{{ resetToken if resetToken else '#' }}</p>

<p>If you did not request this password reset, please reach out to us.<p>
{% endblock %}
