{% extends dirname + '/master.njk' %}

{% block main %}
<p>Hey Bearcats! Thanks for registering for RevolutionUC Spring 2025!</p>

<h3>General Information</h3>
<p>RevolutionUC is UC’s 24-hour hackathon and it is happening in-person on March 1st and 2nd, 2025! We are student-organized and a Major League Hacking-partnered hackathon, which means this tech event is catered specifically to you!</p>

<h3>Who Can Participate?</h3>
<p>RevolutionUC is a 24-hour hackathon open to all students regardless of programming experience. At the event, you’ll work to learn, build, and collaborate on projects to problem-solve, win prizes, and have fun! RevolutionUC is a learning and social experience for students of all skill levels. Attending the hackathon is completely free and you can register now <a href="https://revolutionuc.com/registration" target="_blank">here</a>!</p>

<!-- <h3>Sponsors</h3> --->
<!-- <p>We’ve got some great sponsors this year including ICR, MedPace, Tembo, AWS, Tabnine, and more! See <a href="https://revolutionuc.com/sponsors/" target="_blank">revolutionuc.com/sponsors</a> for the full list of sponsors and partners!</p> --->
{% endblock %}
