<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ subject if subject else '*|MC:SUBJECT|*' }}</title>
    <!--[if !mso]><!-- -->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!--<![endif]-->
  </head>
  <body>
    <span style="display:none!important" mc:edit="shortDescription">{{ shortDescription }}</span>

    <row>
      <columns small="12">
        <center>
          <img src="https://revolutionuc.com/logo.png" width="150" height="150" alt="RevolutionUC logo">
        </center>
      </columns>
    </row>

    <container>
      <row>
        <columns small="12">
          {% block body %}{% endblock %}
        </columns>
      </row>
    </container>

    <container class="footer">
      <row>
        <columns small="12">
          <p>You are recieving this email because you registered for <a href="https://revolutionuc.com/" target="_blank">RevolutionUC</a>.</p>
        </columns>
      </row>

      <row>
        <columns small="12">
          <p>© 2016 RevolutionUC</p>
          <p>Old Chemistry 806B • 2851 Woodside Drive • Cincinnati, OH 45220 USA</p>
          <p><a href="mailto:info@revolutionuc.com">Contact Us</a></p>
        </columns>
      </row>
    </container>
  </body>
</html>
