<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ subject if subject else '*|MC:SUBJECT|*' }}</title>
    <!--[if !mso]><!-- -->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!--<![endif]-->
  </head>
  <body>
    <span style="display:none!important" mc:edit="shortDescription">{{ shortDescription }}</span>

    <container>
      <row>
        <columns small="12">
          <center>
            <a href="https://revolutionuc.com/" target="_blank"><img class="float-center" src="https://revolutionuc.com/imgs/revuc.png" width="150" height="150" alt="RevolutionUC logo"></a>
          </center>
        </columns>
      </row>
    </container>

    <container>
      <row class="main">
        <columns small="12">
          <br />
          <h1 class="main__header"><a href="https://revolutionuc.com/" target="_blank">RevolutionUC - Spring 2017</a></h1>

          {% block main %}{% endblock %}

          <p>Questions? See the FAQ at <a href="https://revolutionuc.com/faq" target="_blank">revolutionuc.com/faq</a> or send us an email at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a>!</p>

          <p>
            Thanks!<br>
            &nbsp;&nbsp;- The RevolutionUC Team
          </p>
          <hr />
        </columns>
      </row>

      <row class="socials">
        {# social media links #}
        <columns small="2" class="socials__item small-offset-3">
          <p class="text-center"><a href="https://www.facebook.com/RevolutionUC" target="_blank">
            <img src="https://revolutionuc.com/imgs/icons/facebook.png" alt="Facebook icon" height="25" width="25">
          </a></p>
        </columns>
        <columns small="2" class="socials__item small-offset-3">
          <p class="text-center"><a href="https://twitter.com/Revolution_UC" target="_blank">
            <img src="https://revolutionuc.com/imgs/icons/twitter.png" alt="Twitter icon" height="25" width="25">
          </a></p>
        </columns>
        <columns small="2" class="socials__item small-offset-3">
          <p class="text-center"><a href="https://RevolutionUC.com" target="_blank">
            <img src="https://revolutionuc.com/imgs/icons/website.png" alt="RevolutionUC.com icon" height="25" width="25">
          </a></p>
        </columns>
      </row>
    </container>

    <container>
      <row class="footer">
        <columns small="12">
          <br />
          <p>You are recieving this email because you registered for <a href="https://revolutionuc.com/" target="_blank">RevolutionUC</a>.</p>

          <p>Our mailing address is:</p>
          <p>Association for Computing Machinery @ UC<br />2801 UC MainStreet<br />Cincinnati, OH 45221</p>

          <p><a href="mailto:info@revolutionuc.com">Contact Us</a></p>

          <p>© 2017 RevolutionUC</p>
        </columns>
      </row>
    </container>
  </body>
</html>
