{% extends dirname + '/master.njk' %}

{% block main %}
<p>Thank you for attending RevolutionUC! Below is important information on the post event survey and prize information</p>

<h3>Survey</h3>
<p>What did you think of RevolutionUC 2021? Did you absolutely love something? How can we improve? Let us know in our post event survey below.
<br /><br />
Any feedback you provide will help us to make the hackathon even better! All answers are anonymous and will be valuable in helping us plan for next year.</p>
<button href="https://forms.gle/pXH62rk36R6xQbkJ6" target="_blank">Post Event Survey</button>

<h3>Winners and Prizes</h3>
<p>All winning hacks from this past weekend can be found on our Devpost! If you won a category, we will send you an <b>email this week</b> to get your contact information, mailing address, and choice of prize (if applicable).</p>

<h3>Thank You!</h3>
<p>Once again, thank you for making this event possible! RevolutionUC celebrated ten years of hackathons at the University of Cincinnati! Shout out to all hackers this past weekend for making this the largest RevolutionUC <b>(TODO: change this line)</b> ever! We set records with 385 hackers, the largest ever in Cincinnati! 66 projects were submitted and 16 sponsors <b>(TODO: change stats)</b> helped put on this event! If you’re interested in getting involved with the hackathon or ACM@UC (the student group that organizes RevolutionUC), just reply to this email.</p>

<p>We look forward to hosting you again next year!</p>
{% endblock %}