
{% extends dirname + '/master.njk' %}

{% block main %}
<h1>Hey, {{ firstName if firstName else '{{first_name}}' }}!</h1>
<p>A final reminder that we would love your feedback on your experience at RevolutionUC! What did you think of RevolutionUC 2021? Did you absolutely love something? How can we improve? Let us know in our post event survey below. Any feedback you provide will help us to make the hackathon even better! All answers are anonymous and will be valuable in helping us plan for next year.</p>
<button href="https://forms.gle/pXH62rk36R6xQbkJ6" target="_blank">Post Event Survey</button>

<p>Once again, thank you for attending and see you next year!</p>

{% endblock %}

