{% extends dirname + '/master.njk' %}

{% block main %}
<h1>Hey, {{ firstName if firstName else '{{first_name}}' }}!</h1>

<p>Thank you for your help in making the first virtual AND international RevolutionUC great! Below is important information on requesting swag (as promised!) and a way for you to give us some feedback!</p>

<h3>Survey</h3>
<p>What did you think of RevolutionUC 2023? Did you absolutely love something? How can we improve? Let us know in our post event survey below.
<br /><br />
Any feedback you provide will help us to make the hackathon even better! All answers are anonymous and will be valuable in helping us plan for next year.</p>
<button href="https://forms.gle/HNttG4mqxq5DhBjF9" target="_blank">Post Event Survey</button>

<h3>Winners and Prizes</h3>
<p>All winning hacks from this past weekend can be found on our <a href="https://revuc-x.devpost.com/" target="_blank">Devpost</a>! We are working on sending our sponsors winner details, but please feel free to reach out!</p>

<h3>Swag</h3>
<p>We would like to give those who may have missed the Swag Form an oppoortunity to fill it out! Please do so by this Friday, 3/5! <a href="https://docs.google.com/forms/d/e/1FAIpQLSeW2zkHnSP_1vt4S6tJeMfE053hjaqRqHYtnULbuLFAeMcZaw/viewform">Here is the link</a></p>

<h3>Thank You!</h3>
<p>Once again, thank you for making this event possible! RevolutionUC celebrated ten years of hackathons at the University of Cincinnati! We had an amazing 229 hackers, from 88 schools, and 10 countries! 
46 projects were submitted and 13 sponsors helped put on this event! We also had our first ever participation point system - where 13,525 total points were awarded to our hackers!</p>

<p>We look forward to working with you again next year!</p>
{% endblock %}