{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the user's first name)
#}

{% block main %}
<h1>Greetings!</h1>

<p>Team RevUC cordially invites you to the University of Cincinnati’s biggest 
  student-led, Major League Hacking-partnered hackathon: <strong>RevolutionUC 2023</strong>. 
  The hackathon will be conducted in-person at the University of Cincinnati on <strong>February 
  25th and 26th, 2023</strong>. The event is completely free for all students and they can 
  sign up at <a href="http://revolutionuc.com/" target="_blank">our website here!</a>
<p/>

<p>Below is more information about the event:</p>

<p>RevolutionUC is a <strong>24-hour in-person hackathon</strong> that attracts over 350 students 
  from around the country. At the event, you work to build, learn, and collaborate 
  on software and/or hardware projects to problem-solve, win prizes, and have fun! 
  Attending the hackathon is completely free and you can register now 
  <a href="http://revolutionuc.com/register/" target="_blank">here</a>!
</p>

<p>
Space is limited, so register ASAP to ensure you get your share of <strong>free swag, 
networking time with engineers and recruiters from awesome sponsors</strong> such as 
<strong>Kinetic Vision, Echo3D, Wolfram Alpha and others</strong> and a chance to build on some cool tech!
</p>

<p><strong>EARLY REGISTRATION:</strong> The first 100 hackers to register and follow
us on LinkedIn, Instagram, and Twitter will get additional benefits and swag. 
Details will be announced on our social media. </p>

<button href="http://revolutionuc.com/register/" target="_blank">Register Now</button>

<p>For additional information, visit us on our website and stay tuned on our 
  social media.
</p>

<p>We can’t wait to host you at RevolutionUC 2023 this spring!</p>
{% endblock %}