{% extends dirname + '/master.njk' %}

{% block main %}

<p>
  This is your official reminder that you must submit to <a href="https://revuc-x.devpost.com/">Devpost</a> in the next 30 minutes! Hacking ends at 12:00pm but to get a spot for judging, you must submit your work before 11:30am. You can continue hacking after your submission. Here are some tips!
</p>
<ol>
  <li>Join our Devpost! Then you will see a link to “Start Project”</li>
  <li>Make sure you fill out as much information as you can!</li>
  <li>If you are entering any of our categories (for Sponsor, MLH, and other categories), please be sure to add them in the “Sponsor/Special Prizes” field on the “Additional Info” page**</li>
  <li>Submission rules: Your hack must have been started at 12:00PM EST yesterday (2/24/2024) and only submitted to this hackathon</li>
</ol>
<p>
  Please ask in Discord #ask-the-organizers for any submission related questions!
</p>

{% endblock %}
