{% extends dirname + '/master.njk' %}

{#
  Additional arguements for this template:
    - firstName (the user's first name)
    - verificationUrl (a url)
#}

{% block main %}
<h1>Hey {{ firstName if firstName else '*|FNAME|*' }}!</h1>

<p>To complete your {% if waitlist %}waitlist{% endif %} registration for RevolutionUC, please <a href="{{ verificationUrl if verificationUrl else '#' }}" target="_blank">verify your email address</a>.<p>

{% if waitlist %}
  <p>Note: You are currently on the waitlist! We have hit our capacity, but spots may open up. Please confirm your email address and monitor your inbox for further notification.<p>
{% endif %}

<button href="{{ verificationUrl if verificationUrl else '#' }}" target="_blank">Verify Email</button>

<p>Your registration will not be complete until you verify.<p>
{% endblock %}
