{% extends dirname + '/master.njk' %}

{% block main %}
<p>Thank you for registering for RevolutionUC!</p>

<p>
  We have updated our waiver of liability for RevolutionUC 2023. The new waiver can be found here: <a href="https://revolutionuc.com/waiver">https://revolutionuc.com/waiver/</a>. By registering for RevolutionUC, you are accepting this waiver. If you have any questions or issues regarding the waiver, please reach out to us.
</p>
{% endblock %}
