{% extends 'master.njk' %}

{% block body %}
<h1>Hello, world!</h1>

<p>Welcome text here Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Optio deserunt, omnis obcaecati mollitia ratione perspiciatis magnam impedit
tenetur dolore quia,inventore dicta aliquid numquam atque hic. Maiores minima
expedita incidunt?</p>
{% endblock %}
